@CHARSET "UTF-8";
.button_set{
	height:25px;
	width:70px;
	background-color:#18A689;	
	border-radius:3px;
	border-color: #d5d5d5;
	border:none;
	color:white;
	font-size:12px;
	margin-top:10px;
}





